.Home__container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: url('../../images/stars.svg'), #1b1b25;
	background-repeat: repeat;
}

.Home__Left {
	position: relative;
	height: 100vh;
}
.Home__Right {
	position: relative;
	height: 100vh;
}
.Home__logo {
	width: 50vh;
	height: 50vh;
	padding: 1rem;
	margin: 3rem;
}
