.Home__container {
	width: 100%;
	min-height: calc(100vh - 60px);
	background: url('../../images/stars.svg'), #1b1b25;
	background-repeat: repeat;
	color: #ffffff;
	display: flex;
	align-items: center;
}

.Home__Left {
	position: relative;
	height: 100vh;
}
.Home__Right {
	position: relative;
	height: 100vh;
}
.Home__logo {
	width: 50vh;
	height: 50vh;
	padding: 1rem;
	margin: 3rem;
}
