.Home__container {
	width: 100%;
	min-height: calc(100vh - 60px);
	background: url('../../stars.svg'), #1b1b25;
	background-repeat: repeat;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Home__Left {
	height: 100vh;
	margin-top: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.Home__Left p {
	padding: 1rem;
	font-size: 1.6rem;
}
.Home__Left h1 {
	padding-top: 1rem;
}
.Home__Right {
	position: relative;
	height: 100vh;
}
.Home__astronauts {
	height: 80%;
	padding: 3rem;
	padding-left: 50px;
}
